body {
  margin: 0 auto;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-weight: 500;
  color: #56508b;
}

h5 {
  color: #56508b;
}

h5:first-letter {
  text-transform: capitalize;
}

.card {
  max-width: 800px;
  margin: 80px auto 30px auto;
  border-radius: 22px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(1.5rem);
  box-shadow: 0 1rem 3rem -2rem #493167,
    inset 0 0 0.2rem rgba(255, 255, 255, 0.4);
}

.card-body {
  padding: 40px;
}

.btn-primary {
  color: white;
  background-color: #b25068;
  font-weight: 500;
  border: none;
  padding-left: 20px;
  padding-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 10px 0px;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #b63958 !important;
}

.current-location-icon {
  color: #b25068;
  font-size: 34px;
}

.daily-overview {
  padding-top: 30px;
}

.date-time {
  font-weight: 500;
  font-size: 22px;
  list-style: none;
  color: #56508b;
}

.conditions {
  list-style: none;
  color: #56508b;
}

.weather-temperature img {
  margin-right: 5px;
  height: 100px;
  width: 100px;
}

.weather-temperature strong {
  font-weight: 400;
  font-size: 70px;
  padding-left: 36px;
  color: #b63958;
}

.weather-temperature .units {
  position: relative;
  top: -38px;
  font-size: 16px;
}

#current-temp-celsius {
  position: relative;
  top: -30px;
  font-size: 20px;
  color: #b63958;
  text-decoration: none;
}

#current-temp-celsius:hover {
  font-weight: bold;
}

#current-temp-fahrenheit {
  position: relative;
  top: -30px;
  font-size: 20px;
  color: #b63958;
  text-decoration: none;
}

#current-temp-fahrenheit:hover {
  font-weight: bold;
}

.weekly-weather-forecast {
  text-align: center;
  padding-top: 20px;
}

.daily-forecast {
  border-radius: 22px;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  padding: 20px 0;
}

.forecast-icon {
  font-size: 36px;
  padding: 10px 0;
  color: #e7ab79;
}

.forecast-temp {
  padding-top: 10px;
  font-size: 16x;
  color: #b63958;
}

.github-link {
  display: block;
  margin: 0 auto;
  max-width: 800px;
  text-align: left;
}

.link {
  text-decoration: none;
  color: #b63958;
}

.creator-name {
  color: #56508b;
}
